.simpli-cu-tools a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    height: 32px;
    width: 32px;
    cursor: pointer;
    margin-right: 8px;
    background-color: deeppink;
}

.simpli-cu-tools a svg {
    fill: white;
    margin: 10px;
}
